@import "../../styles//variables.scss";

.element_container {
    display: flex;
    flex-direction: column;

    .element_main_content {
        width: 100%;
        height: 100%;
        background-color: $white;

        padding: 20px;

        h4 {
            font-family: $font;
            font-size: $font-size-18;
            font-weight: $font-weight-700;
            color: $text-primary;
        }

        .element_options {
            width: 100%;
            height: 70px;
            background-color: $grey-bg;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 15px;

            .left {
                display: flex;
                align-items: center;
                gap: 20px;

                .search_container {
                    width: 280px;
                    height: 40px;
                    background-color: inherit;
                    border: 1px solid $grey-bg;
                    border-radius: 5px;
            
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
            
                    input {
                        flex: 1;
                        font-size: $font-size-16;
                        font-weight: 400;
                        color: $text-primary;
                        height: 100%;
                        border: none;
                        outline: none;
                        padding: 0px 10px;
            
                        &:focus {
                            border: none;
                            outline: none;
                        }
            
                        &::placeholder {
                            font-size: $font-size-16;
                            font-weight: 300;
                            color: $tint;
                        }
                    }
            
                    .search_icon_container {
                        width: 50px;
                        height: 100%;
                        background-color: $green;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
            
                        display: flex;
                        align-items: center;
                        justify-content: center;
            
                        .icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                };

                img {
                    width: 40px;
                    height: 40px;

                    cursor: pointer;
                }
            }

            .right {

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 175px;
                    height: 40px;
                    background-color: $green;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                    color: $white;
                    gap: 5px;

                    font-family: $font;
                    font-size: 16px;
                    font-weight: $font-weight-700;

                    .icon {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}

.modal_content {

    h3 {
        font-family: $font;
        font-size: $font-size-18;
        font-weight: $font-weight-700;
        color: $text-primary;
    }

    .wrapper {
        align-items: flex-start;
        align-self: start;
        display: flex;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 100%;
        flex-direction: column;

        .wrapper_contents {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            flex-direction: column;

            .wrapper_content_top {
                align-items: flex-start;
                align-self: stretch;
                display: flex;
                gap: 0px;

                .wrapper_content_top1 {
                    background-color: $white;
                    align-self: center;
                    display: flex;
                    width: 176px;
                    height: 3px;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: auto;
                    margin: auto 0;
                  }
                  .wrapper_content_top2 {
                    color: $green;
                    font-family: $font;
                    font-size: $font-size-16;
                    font-weight: $font-weight-500;
                  }
                  .wrapper_content_top3{
                    background-color: $white;
                    align-self: center;
                    display: flex;
                    width: 125px;
                    height: 3px;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: auto;
                    margin: auto 0;
                  }
                  .wrapper_content_top4 {
                    color: #818da9;
                    font-family: $font;
                    font-size: $font-size-16;
                    font-weight: $font-weight-500;
                  }
                  .wrapper_content_top5 {
                    background-color: $white;
                    align-self: center;
                    display: flex;
                    width: 167px;
                    height: 3px;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: auto;
                    margin: auto 0;
                  }
            }

            .wrapper_content_bottom {
                align-items: flex-start;
                align-self: stretch;
                display: flex;
                margin-top: 8px;
                gap: 0px;

                .wrapper_content_bottom_styles {
                    background-color: $green;
                    align-self: center;
                    display: flex;
                    width: 212px;
                    height: 3px;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: auto;
                    margin: auto 0;
                }

                .indicator {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    object-fit: cover;
                    object-position: center;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    align-self: stretch;
                    max-width: 100%;
                    border-radius: 50%;
                    background-color: $green;
                    color: $white;
                }
                .indicator2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    object-fit: cover;
                    object-position: center;
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    align-self: stretch;
                    max-width: 100%;
                    border-radius: 50%;
                    border: 1px solid $green;
                    background-color: $white;
                    color: $green;
                }

                .wrapper_content_bottom_styles_right {
                    background-color: #cdcdcd;
                    align-self: center;
                    display: flex;
                    width: 211px;
                    height: 3px;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: auto;
                    margin: auto 0;
                  }
                  .wrapper_content_bottom_styles_rightx {
                    background-color: #cdcdcd;
                    align-self: center;
                    display: flex;
                    width: 212px;
                    height: 3px;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: auto;
                    margin: auto 0;
                  }
            }
           
        }
    }

    .input_fields {
        
        .row {
            display: flex;
            align-items: center;
            margin-top: 24px;
            justify-content: space-between;

            .single_input {

                .form_error {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    background-color: #FDF6F6;
                    margin-top: 10px;
                    padding: 0px 5px;
    
                    p {
                        font-family: $font;
                        font-size: 12px;
                        font-weight: $font-weight-500;
                        color: #E05453;
                    }
                }

                .col {
                    display: flex;
                    flex-direction: column;
    
                    span {
                        color: $tint;
                        font-family: $font;
                        font-size: $font-size-14;
                        font-weight: $font-weight-400;
                        align-self: start;
                        text-wrap: nowrap;
                    }
    
                    input {
                        color: $tint;
                        font-family: $font;
                        font-size: $font-size-14;
                        font-weight: $font-weight-400;
                        align-items: flex-start;
                        align-self: start;
                        border-radius: 4px;
                        border: 1px solid #e5e5e5;
                        background-color: $white;
                        margin-top: 8px;
                        width: 346px;
                        max-width: 100%;
                        padding: 15px 20px 15px 16px;
                        outline: none;
                    };
    
                    select {
                        color: $tint;
                        font-family: $font;
                        font-size: $font-size-14;
                        font-weight: $font-weight-400;
                        align-items: flex-start;
                        align-self: start;
                        border-radius: 4px;
                        border: 1px solid #e5e5e5;
                        background-color: $white;
                        margin-top: 8px;
                        width: 346px;
                        max-width: 100%;
                        padding: 18px 20px 18px 16px;
                        outline: none;
                    }
                }
            }

        }

        .row_full {
            display: flex;
            align-items: center;
            margin-top: 24px;
            width: 100%;

            select {
                color: $tint;
                font-family: $font;
                font-size: $font-size-14;
                font-weight: $font-weight-400;
                align-items: flex-start;
                align-self: start;
                border-radius: 4px;
                border: 1px solid #e5e5e5;
                background-color: $white;
                margin-top: 8px;
                width: 100%;
                padding: 18px 20px 18px 16px;
                outline: none;
            }
        }

        .textarea_row {
            align-items: flex-start;
            align-self: stretch;
            display: flex;
            margin-top: 24px;
            flex-direction: column;

            .form_error {
                width: 100%;
                height: 25%;
                display: flex;
                align-items: center;
                background-color: #FDF6F6;
                margin-top: 10px;
                padding: 0px 5px;

                p {
                    font-family: $font;
                    font-size: 12px;
                    font-weight: $font-weight-500;
                    color: #E05453;
                }
            }
            

            span {
                color: $tint;
                font-family: $font;
                font-size: $font-size-14;
                font-weight: $font-weight-400;
                align-self: start;
                text-wrap: nowrap;
            }

            textarea {
                color: $tint;
                font-family: $font;
                font-size: $font-size-14;
                font-weight: $font-weight-400;
                align-items: flex-start;
                align-self: start;
                border-radius: 4px;
                border: 1px solid #e5e5e5;
                background-color: $white;
                margin-top: 8px;
                width: 100%;
                height: 85px;
                outline: none;
                padding: 10px 20px 10px 16px;
            }
        }
    }

    .button_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        button {
            width: 345px;
            height: 52px;
            font-family: $font;
            font-size: $font-size-16;
            font-weight: $font-weight-700;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            border: 1.5px solid $green;
            border-radius: 5px;
            color: $green;

            &:last-of-type {
                background-color: $green;
                color: $white;
            }
        }
    }
}